#app
  form#search-form
    //- .search-logo 
      //- span#w-type W
    input#search-box(type = "text" placeholder = "Search Wikipedia")
    button(type="submit")#search-button
      i.fa.fa-search
  a(href='https://en.wikipedia.org/wiki/Special:Random' target='_blank')#random show me a random article instead
  ul.results#results