@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  padding:0;
  margin: 0;
  font-family: 'Segoe UI', 'Sans Serif';
  box-sizing: border-box;
}
#app {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 600px) {
  #app {
    padding: 0;
  }
}

a {
  text-decoration: none;
  color:inherit;
    &:hover {
        color: #3060bb !important;
      }
}

a#random {
  text-align: center;
  font-style: italic;
  color: gray;
}

#search-form {
  display:flex;
  justify-content: center;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 3px;
}

#search-box, #search-button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  min-width: 0;
}

#search-box {
  flex-grow: 1;
}

#search-button {
  background: white;
  color: #888;
}

li.wiki-result {
  list-style: none;
}

.wiki-result {
  display: block;
  margin: 1rem;
  margin-bottom: 2rem;
}

.wiki-title {
  font-size: 1.25rem;
}

.wiki-url {
  font-style: italic;
  font-size: 80%;
}

.wiki-img {
  float:left;
  width: 4rem;
  height: 4rem;
  border: 1px solid #eee;
  object-fit: cover;
  margin-right: 1rem;
}